/*** Navigation ***/

.nav-container {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-container__inner {
  height: 100%;
}

/* Logo */
.nav-container__logo {
  height: 50px;
}

.nav-container__logo a img {
  height: 100%;
}

/* Navigation */
.nav-container__nav {
  height: 100%;
}

@media screen and (max-width: 767px) {
  .nav-container__nav {
    display: flex;
    background-color: var(--color--primary);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    max-height: 0;
    overflow: hidden;
    transition: 0.2s;
  }

  .mobile-menu--active .nav-container__nav {
    max-height: calc(100vh - 80px);
  }
}

@media screen and (max-width: 767px) {
  .nav-container__nav {
    justify-content: center;
    align-items: center;
  }

  /* .mobile-menu--active .nav-container__nav {
    padding-top: 50px;
  } */
}

.nav-container__nav__buttons {
  height: 100%;
  margin-bottom: 50px;
  gap: 10px;
}

@media screen and (max-width: 767px) {
  .nav-container__nav__buttons {
    flex-direction: column;
  }
}

.nav-container__nav__buttons__container {
  gap: 10px;
}

.nav-container__nav__buttons__container__img {
  background-color: white;
  /* width: 100px;
  height: 100px; */
  padding: 10px;
  border-radius: 50%;
}
.nav-container__nav__buttons__container img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 767px) {
  .nav-container__nav__buttons {
    gap: 20px;
    justify-content: center;
  }
  .nav-container__nav__buttons__container {
    align-items: center;
    gap: 20px;
  }
  .btn--circle {
    width: 90px;
    height: 90px;
    padding: 20px;
  }
  .nav-container__nav__buttons__container img {
    width: 90px;
    height: 90px;
  }
}

.nav-container__nav__buttons .btn svg {
  height: 100%;
}

.nav-container__nav__buttons .btn path {
  fill: var(--color--primary);
  transition: 0.2s;
}

.nav-container__nav__buttons .btn:hover {
  background-color: var(--color--primary);
}

.nav-container__nav__buttons .btn:hover path {
  fill: var(--color--white);
}

@media screen and (max-width: 767px) {
  .nav-container__nav__buttons .btn {
    border: 1px solid var(--color--white);
  }

  .nav-container__nav__buttons .btn path {
    fill: var(--color--white);
  }

  .nav-container__nav__buttons .btn:hover {
    background-color: var(--color--white);
  }

  .nav-container__nav__buttons .btn:hover path {
    fill: var(--color--primary);
  }
}

/* Hamburger Menu */
.nav-container__hamburger {
  width: 30px;
  height: 30px;
  position: relative;

  background-color: transparent;
  border: none;
}

.nav-container__hamburger:hover {
  cursor: pointer;
}

.nav-container__hamburger__bar {
  background-color: var(--color--primary);
  width: 100%;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 10px;
  transform: translateY(-50%);
  transition: 0.2s;
}

.nav-container__hamburger::before,
.nav-container__hamburger::after {
  content: "";
  position: absolute;
  background-color: var(--color--primary);
  width: 100%;
  height: 5px;
  border-radius: 10px;
  position: absolute;
  left: 0;
  transition: 0.2s;
}

.nav-container__hamburger::before {
  top: 0;
}

.nav-container__hamburger::after {
  bottom: 0;
}

.mobile-menu--active .nav-container__hamburger__bar {
  background-color: transparent;
}

.mobile-menu--active .nav-container__hamburger::before {
  transform: rotate(45deg) translateY(calc(-50% - 1px));
  top: 50%;
}

.mobile-menu--active .nav-container__hamburger::after {
  transform: rotate(-45deg) translateY(calc(50% + 1px));
  bottom: 50%;
}
